<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th colspan="2" style="text-align: center">Action</th>
  </tr>
  <% @categories.each do|category| %>
    <tr>
      <td><%= category.title %></td>
      <td>
        <%= link_to "Edit", edit_admin_category_path(category), :class => 'btn btn-primary' %>
      </td>
      <td>
        <%= link_to "Delete", admin_category_url(category), :method => :delete, :class => 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "New Category", new_admin_category_url, :class => "btn btn-primary" %>